In [2]:
import pandas as pd
train = pd.read_csv('titanic/train.csv')
test = pd.read_csv('titanic/test.csv')
test_passenger_id = test['PassengerId'].copy()
test = test.drop(['PassengerId'], axis=1)
X = train.drop(['PassengerId', 'Survived'], axis=1)
y = train['Survived']

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score

preprocessor = ColumnTransformer([
    ('num', make_pipeline(SimpleImputer(strategy='mean'), StandardScaler()), ['Age', 'Fare']),
    ('cat', OneHotEncoder(handle_unknown='ignore'), ['Pclass', 'Sex', 'Embarked'])
])
logistic = make_pipeline(preprocessor, LogisticRegression())
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.2, random_state=42)
logistic.fit(X_train, y_train)
y_pred = logistic.predict(X_test)
print("accuracy_score:", accuracy_score(y_test, y_pred))

y_test_pred = logistic.predict(test)
predict = pd.DataFrame({
    "PassengerId": test_passenger_id,
    "Survived": y_test_pred.astype(int)
})
print("Survived:",len(predict[predict['Survived']==1]))
predict

accuracy_score: 0.7932960893854749
Survived: 157

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]